#@ type: compute
{%- if parents %}
#@ parents:
{%- for p in parents %}
#@    - {{p.get_id()}}
{%- endfor %}
{%- endif %}
{%- if corunning %}
#@ corunning:
{%- for c in corunning %}
#@    {{c.get_id()}}:
#@        trans: {{c.get_id()}}
#@        type: rdma
{%- endfor %}
{%- endif %}

import base64
import cloudpickle


def main(params, action):
    scad_output = {{ output }}
    try:
        # Input Processing
        cache = dict()
        for _, v in params:
            if v['error']:
                raise
            (k, t, a, s) = cloudpickle.loads(base64.b64decode(v['mem']))

            trans = action.get_transport(t, 'rdma')
            trans.reg(s)
            trans.read(s, a, 0)
            cache[k] = cloudpickle.loads(trans.buf[:s])

        # Output Processing
        output = dict()
        for k, v in cache.items():
            serialized = cloudpickle.dumps(v)
            path = 'dummy' #TODO: add actual storage
            output['output'][k] = path

        return {'output': base64.b64encode(cloudpickle.dumps(output)).decode('ascii'), 'error': False}
    except Exception:
        return {'error': True}
